<div class="container-md">
<h1>Buscar viaje</h1>
<%= link_to 'Listado de viajes comprados' , listaViajes_path, class: 'btn btn-primary' %>
<%= link_to 'Comprar Viaje' , viajes_path, class: 'btn btn-primary' %>
<%= link_to 'Editar Perfil' , edit_user_registration_path, class: 'btn btn-primary' %>
</div>
