<table class="table">
	<tr>
		<th> Nombre </th>
		<th> Apellido </th>
		<th> DNI </th>
		<th>Covid</th>
	</tr>

	<% @pasajeros.each do |pasajero| %>
        <tr>
            <td> 
                <%= pasajero.nombre%>
            </td>
            <td> 
                <%= pasajero.apellido%>
            </td>
            <td> 
                <%= pasajero.dni%>
            </td>
            <td>
            	<% pasaje = Pasaje.where(viaje_id:@viaje, user_id:pasajero.id).first %>
            	<% if pasaje.covid.nil? %>

            		<%= link_to 'Preguntas Covid', preguntasCovid_path(pasaje) , class: 'btn btn-warning' %>

            		<% elsif pasaje.covid %>
            				<p class="btn btn-danger" > Rechazado </p>
							
                   		<% else %>
                        	<p class="btn btn-success"> Aceptado </p>
                <% end %>
            </td>
		</tr>
	<% end %>

	<% if @pasajeros.size == 0 %>
		<tr> <td colspan="3"> No hay pasajeros </td> </tr>
	<% end %>

</table>