<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha hecho un pedido para cambiar tu contraseña. Puedes hacerlo a través del link a continuación:</p>

<p><%= link_to 'Cambiar mi contraseña: ', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tu, por favor ignora este mail.</p>
<p>Tu contraseña no cambiar a menos que ingreses al link de arriba y crees una nueva.</p>
